@model GestionVentas.Models.Usuarios

@{
    ViewData["Title"] = "Details";
}


<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h3 class="mb-4">Detalles del Usuario</h3>
        <dl class="row">
            <dt class="col-sm-3">Nombre del Empleado</dt>
            <dd class="col-sm-9">@Model.NombreEmpleado</dd>

            <dt class="col-sm-3">Usuario</dt>
            <dd class="col-sm-9">@Model.Usuario</dd>

            <dt class="col-sm-3">Estado</dt>
            <dd class="col-sm-9">@((Model.Estado) ? "Activo" : "Inactivo")</dd>

            <dt class="col-sm-3">Rol</dt>
            <dd class="col-sm-9">@Model.Roles?.NombreRol</dd>
        </dl>

        <div class="d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model.UsuarioID" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>